.gradle
/build/
hotel_backend/build/
hotel_frontend/build/
service_security/build/
/hotel_backend/build/
/hotel_frontend/build/
/service_security/build/

!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
