.gradle
/build/
hotel_backend/build/
hotel_frontend/build/
service_security/build/
/hotel_backend/build/
/hotel_frontend/build/
/service_security/build/


/hotel_backend/bin/
/hotel_frontend/bin/
/service_security/bin/

hotel_backend/bin/
hotel_frontend/bin/
service_security/bin/

!gradle/wrapper/gradle-wrapper.jar

*.class
*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
