<!-- Modal -->
							<div id="divMensajeConfirmacionGrabarDocumento" class="modal fade" data-keyboard="false" data-backdrop="static" >
								<div class="container notificacionMensajeConfirmacionContainer verticalAlignmentHelper">
									<div class="row verticalAlignCenter">
										<div class="col-xs-12">
											<div class="panel panel-primary">
												<div id="divTituloPanelMensajeConfirmacionGrabarDocumento" class="panel-heading"><fmt:message key="grabarDocumentoIndividual.registroTitulo" /></div>
												<div class="panel-body">
													<div class="row paddingTop10">
														<div class="col-xs-6">
															<button id="btnSiMensajeConfirmacionGrabarDocumento" type="button" class="btn btn-primary btn-sm center-block centerBlockBotonXMiniSmallClass"><fmt:message key="grabarDocumentoIndividual.btnSi" /></button>
														</div>
														<div class="col-xs-6">
															<button id="btnNoMensajeConfirmacionGrabarDocumento" type="button" class="btn btn-primary btn-sm center-block centerBlockBotonXMiniSmallClass"><fmt:message key="grabarDocumentoIndividual.btnNo" /></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="divMensajeConfirmacionRegistroDocumentoExitoso" class="modal fade" data-keyboard="false" data-backdrop="static" >
								<div class="container notificacionMensajeConfirmacionContainer verticalAlignmentHelper">
									<div class="row verticalAlignCenter">
										<div class="col-xs-12">
											<div class="panel panel-primary">
												<div id="divTituloPanelMensajeConfirmacionRegistroDocumentoExitoso" class="panel-heading"><fmt:message key="registroDocumentoIndividualExitoso.registroTitulo" /></div>
												<div class="panel-body">
													<div class="row">
														<div class="col-xs-12">
															<span id="etiquetaNroDocumentoMensajeConfirmacionRegistroDocumentoExitoso"><fmt:message key="registroDocumentoIndividualExitoso.lblNroDocumento" /></span>
														</div>
													</div>
													<div class="row paddingTop10">
														<div class="col-xs-12">
															<button id="btnAceptarMensajeConfirmacionRegistroDocumentoExitoso" type="button" class="btn btn-primary btn-sm center-block centerBlockBotonSmallClass"><fmt:message key="registroDocumentoIndividualExitoso.btnAceptar" /></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div id="divMensajeConfirmacionProyectarDocumento" class="modal fade" data-keyboard="false" data-backdrop="static" >
								<div class="container notificacionMensajeConfirmacionContainer verticalAlignmentHelper">
									<div class="row verticalAlignCenter">
										<div class="col-xs-12">
											<div class="panel panel-primary">

												<div id="divTituloPanelMensajeConfirmacionProyectarDocumento" class="panel-heading"><fmt:message key="proyectarDocumentoIndividual.registroTitulo" /></div>
												<div class="panel-body">
													<div class="row paddingTop10">
														<div class="col-xs-6">
															<button id="btnSiMensajeConfirmacionProyectarDocumento" type="button" class="btn btn-primary btn-sm center-block centerBlockBotonXMiniSmallClass"><fmt:message key="grabarDocumentoIndividual.btnSi" /></button>
														</div>
														<div class="col-xs-6">
															<button id="btnNoMensajeConfirmacionProyectarDocumento" type="button" class="btn btn-primary btn-sm center-block centerBlockBotonXMiniSmallClass"><fmt:message key="grabarDocumentoIndividual.btnNo" /></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div id="divMensajeConfirmacionProyectarDocumentoExitoso" class="modal fade" data-keyboard="false" data-backdrop="static" >
								<div class="container notificacionMensajeConfirmacionContainer verticalAlignmentHelper">
									<div class="row verticalAlignCenter">
										<div class="col-xs-12">
											<div class="panel panel-primary">
												<div id="divTituloPanelMensajeConfirmacionProyectarDocumentoExitoso" class="panel-heading"><fmt:message key="registroDocumentoIndividualExitoso.registroTitulo" /></div>
												<div class="panel-body">
													<div class="row">
														<div class="col-xs-12">
															<span id="etiquetaNroDocumentoMensajeConfirmacionProyectarDocumentoExitoso"><fmt:message key="registroDocumentoIndividualExitoso.lblNroDocumento" /></span>
														</div>
													</div>
													<div class="row paddingTop10">
														<div class="col-xs-12">
															<button id="btnAceptarMensajeConfirmacionProyectarDocumentoExitoso" type="button" class="btn btn-primary btn-sm center-block centerBlockBotonSmallClass"><fmt:message key="registroDocumentoIndividualExitoso.btnAceptar" /></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="divMensajeConfirmacionCancelarDocumento" class="modal fade" data-keyboard="false" data-backdrop="static" >
								<div class="container notificacionMensajeConfirmacionContainer verticalAlignmentHelper">
									<div class="row verticalAlignCenter">
										<div class="col-xs-12">
											<div class="panel panel-primary">
												<div id="divTituloPanelMensajeConfirmacionCancelarDocumento" class="panel-heading"><fmt:message key="cancelarDocumentoIndividual.registroTitulo" /></div>
												<div class="panel-body">
													<div class="row paddingTop10">
														<div class="col-xs-6">
															<button id="btnSiMensajeConfirmacionCancelarDocumento" type="button" class="btn btn-primary btn-sm center-block centerBlockBotonXMiniSmallClass"><fmt:message key="grabarDocumentoIndividual.btnSi" /></button>
														</div>
														<div class="col-xs-6">
															<button id="btnNoMensajeConfirmacionCancelarDocumento" type="button" class="btn btn-primary btn-sm center-block centerBlockBotonXMiniSmallClass"><fmt:message key="grabarDocumentoIndividual.btnNo" /></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="divMensajeConfirmacionLoadingAplicativo" class="modal fade" data-keyboard="false" data-backdrop="static" >
								<div class="container notificacionMensajeConfirmacionContainer verticalAlignmentHelper">
									<div class="row verticalAlignCenter">
										<div class="col-xs-12">
											<div class="panel panel-primary">
												<div id="divTituloPanelMensajeConfirmacionLoadingAplicativo" class="panel-heading divErrorNotificacionMensajeConfirmacionContainer"><fmt:message key="reservaForm.txtCargando" /></div>
												<div class="panel-body">
													<div class="row">
														<div class="col-xs-6 col-xs-offset-3">
															<span>
																<img src="/a/imagenes/loader.gif" alt="loader"><fmt:message key="reservaForm.txtAjaxCargando" />
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div id="divMensajeConfirmacionErrorAplicativo" class="modal fade" data-keyboard="false" data-backdrop="static" >
								<div class="container notificacionMensajeConfirmacionContainer verticalAlignmentHelper">
									<div class="row verticalAlignCenter">
										<div class="col-xs-12">
											<div class="panel panel-danger">
												<div id="divTituloPanelMensajeConfirmacionErrorAplicativo" class="panel-heading divErrorNotificacionMensajeConfirmacionContainer"></div>
												<div class="panel-body">
													<div id="divDocumentoRegistradaMensajeConfirmacionErrorAplicativo" class="row">
														<div class="col-xs-12">
															<span id="etiquetaDocumentoRegistradaMensajeConfirmacionErrorAplicativo"><fmt:message key="errorAplicativo.mensageError" /></span>
														</div>
													</div>
													<div class="row paddingTop10">
														<div class="col-xs-12">
															<button id="btnAceptarMensajeConfirmacionErrorAplicativo" type="button" class="btn btn-danger btn-sm center-block centerBlockBotonSmallClass"><fmt:message key="errorAplicativo.btnAceptar" /></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div id="divScreenBlock" class="modal fade" data-keyboard="false" data-backdrop="static" >
								<div class="container verticalAlignmentHelper">
									<div class="row verticalAlignCenter">
									</div>
								</div>
							</div>

							<!-- fin Modal -->